@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.bg-opacity-80 {
    background-color: rgba(255, 255, 255, 0.8);
}

.shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
    border-radius: 0.5rem;
}

.bg-stone-600 {
    transition: background-color 0.3s ease;
}

.bg-stone-600.scrolled {
    background-color: rgba(82, 78, 70, 0.9);
    /* Slightly transparent on scroll */
}
.gallery-wrapper {
    /* Ensures the gallery images are in a row */
    display: flex;
    /* Centers the images */
    justify-content: center;
    /* Hides the scrollbar */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    /* For Firefox */
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

img {
    /* Adding a small margin to create space between images */
    margin: 0 8px;
}